<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .title }}</title>
        <link href="../css/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class="frame">
            <form class="login_frame" method="POST" >
                <span class="login_span">
                    Memeber Login
                </span>
                <div class="id">
                    <label class="login_label">ID : </label>
                    <input type="text" class="login_input" placeholder="ID" name="userID">
                </div>
                <div class="pwd">
                    <label class="login_label">PASSWORD : </label>
                    <input type="password" class="login_input" placeholder="PASSWORD" name="userPWD">
                </div>
                <div class="login_btn">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </body>
</html>