<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .title }}</title>
        <!-- <link href="../css/style.css" type="text/css" rel="stylesheet"/> -->
    </head>
    <body>
        <div class="frame">
            <p>
                <label>ID : </label>
                <h1>{{ .id }}</h1>      
            </p>
            <p>
                <label>PWD : </label>
                <h2>{{ .password }}</h2>
            </p>
        </div>
    </body>
</html>